<h1><mup [sel]="'h1'">Welcome to the Playground :-)</mup></h1>
<div class="intro">
    <mup [sel]="'div'" [class]="'intro'">
        <br><p><mup [sel]="'p'">My name is Sergio <span id="lastName"><mup [sel]="'span'" [id]="'lastName'">Meloni</mup></span></mup></p>
    </mup>
</div>
<p id="address"><mup [sel]="'p'" [id]="'address'">I live in Italy</mup></p>
<p lang="it" title="And like any italian, I love food"><mup [sel]="'p'" [lang]="'it'" [title]="'And like any italian, I love food'">E come ogni italiano, amo il cibo</mup></p>
<p><mup [sel]="'p'">I am a Full Stack Web Developer focused on:</mup></p>
<mup [sel]="'ul'" [id]="'technologies'"><ul id="technologies">
	<li><mup [sel]="'li'">.NET Framework</mup></li>
	<li><mup [sel]="'li'">Microsoft Azure</mup></li>
	<li><mup [sel]="'li'">Front End frameworks</mup></li>
</ul></mup>
<p><mup [sel]="'p'">I really love my job,<mup [sel]="'br'"></mup>, but I also love open source!</mup></p>
<p><mup [sel]="'p'"><b><mup [sel]="'b'">During my free time I like listening to music, watching TV series and reading books.</mup></b> Some of my favourite singers are:</mup></p>
<mup [sel]="'table'">
    <table cellpadding="2" cellspacing="2">
        <tr>
            <td>Artist</td>
            <td>Nr. Of Shows I Attended</td>
        </tr>
        <tr>
            <td>Madonna</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Sia</td>
            <td>0 :-(</td>
        </tr>
        <tr>
            <td>Lady Gaga</td>
            <td>5</td>
        </tr>
    </table>
</mup>